*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-primary: rgb(65, 65, 80);
  --clr-secondary: rgb(56, 56, 81);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

ul {
  list-style-type: none;
}

.hide {
  opacity: 0;
  height: 0;
}

.icon {
  font-size: 2.5rem;
}

.heart {
  color: rgb(149, 25, 25);
}

.health {
  font-size: 1.2rem;
}

.hide {
  display: none;
}

.shield {
  color: gray;
}

.overlap {
  display: grid;
}

.overlap :nth-child(1) {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}

.overlap :nth-child(2) {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  padding-top: 4px;
}

.party-list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.member {
  background-color: var(--clr-primary);
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 12rem;
  /* height: 13.5rem; */
}


.member-name {
  font-size: 1.5rem;
  font-weight: 500;
  background-color: var(--clr-secondary);
}

.member-text {
  font-size: 1.4rem;
  font-weight: 600;
  padding-top: 5px;
}

.member-btn {
  /* font-size: 1.3rem;
  border: none;
  outline: none;
  background-color: unset;
  width: 2rem;
  margin-left: 1.2rem;
  margin-bottom: 0.8rem; */
}

.member-btns {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 10px;
}

.member-btns button {
  background-color: var(--clr-secondary);
  /* height: fit-content; */
  width: 2rem;
  border-radius: 20%;
}

.member-list {
  /* display: grid; */
  /* grid-template-columns: repeat(2, 3rem); */
  /* justify-content: space-around; */
  display: flex;
  flex-direction: column;
}

.class-type {
  font-size: 1.5rem;
}

.btn-hp {
  font-size: 1.5rem;
}

.options {
  display: flex;
  justify-content: space-between;
}

.options button {
  background-color: var(--clr-secondary);
  width: 32%;
}